{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <img src="{% static 'images\cam.jpg' %}" class="img-fluid rounded-circle" alt="">
        <h1 class="text-info" >Click to select a quality</h1>
        <ul >
            <li class="btn btn-outline-success"><a class="text-dark"  href="#">320*240</a></li>
            <li class="btn btn-outline-success"><a class="text-dark"  href="#">640x480</a></li>
            <li class="btn btn-outline-success"><a class="text-dark"  href="#">1024x768</a></li>
            <li class="btn btn-outline-success"><a class="text-dark"  href="#">10280x960</a></li>
        </ul>
    </div>
    <div  class="container  border border-dark">
        <h3 class="alert alert-heading bg-warning">
            images display
            <a  class="btn btn-danger float-xl-right" href="{% url 'reset' %}">Reset</a>
        </h3><br/>
        
        {% for i in images_list %}
            <div class="card card-body float-left" style="width: 150px;height:150px; ">
                <img class="card-img-top" style="height: 80%;width: 100%;" src='{% static i %}' alt="">
            </div>
        {% endfor %}
    </div>

{% endblock content %}
    